/*********** FONTS ***********/

@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&family=Raleway&display=swap");

/*********** MAIN STYLES ***********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark-theme {
  --prime: #131213;
  --sec: #201e22;
  --nav-brand: #b203f9;
  --nav-text: #f1f0f1;
  --header-back: black;
  --header-h1: #9b0eca;
  --header-btn: #38024b;
  --text: #86818a;
  --foto: url("assets/img/diana-moon.jpg");
}

.light-theme {
  --prime: #f1f0f1;
  --sec: #38024b;
  --nav-brand: #e6c2fe;
  --nav-text: #f1f0f1;
  --header-back: #aba7ad;
  --header-h1: #201e22;
  --header-btn: #960cba;
  --text: #131213;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--prime);
  color: var(--text);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*********** GENERIC STYLES ***********/
nav {
  background-color: var(--sec);
  font-size: 1.2rem;
}

a.navbar-brand {
  font-family: "WindSong", cursive;
  font-size: 3rem;
  font-weight: 500;
  color: var(--nav-brand);
}

a.navbar-brand:hover {
  color: var(--nav-text);
}

a.nav-link {
  color: var(--nav-text);
  margin: 0 0.5rem;
}

a.nav-link:hover {
  color: var(--nav-brand);
}

span a {
  color: var(--text);
  font-size: 1rem;
}

span a:hover {
  color: var(--nav-brand);
}

.custom-tooltip {
  --bs-tooltip-bg: var(--nav-brand);
  --bs-tooltip-color: var(--bs-white);
}

footer {
  background-color: var(--sec);
  font-size: 1.5rem;
}

footer a,
div.modal-body a {
  color: var(--nav-brand);
  margin: 0 1rem;
}

div.modal-content {
  background-color: var(--sec);
  color: var(--text);
}

div.modal-body a {
  font-size: 2rem;
}

/*********** INDEX ***********/
header {
  margin-top: 8rem;
  padding: 1rem;
}

header div {
  background-color: var(--header-back);
  color: var(--text);
}

header h1 {
  color: var(--header-h1);
}

header .btn {
  background-color: var(--header-btn);
  color: var(--nav-text);
  margin: 2rem;
}

header img {
  width: 100%;
  border-radius: 2rem;
}

/*********** PROJECTS ***********/
section {
  margin-top: 9rem;
}

.card {
  background-color: var(--header-back);
  color: var(--nav-brand);
  border: 1px solid var(--nav-brand);
  border-radius: 2rem 3rem 1rem 5rem;
  padding: 2rem;
}

.card:hover {
  border: 1px solid var(--header-btn);
}

.card li {
  line-height: 2rem;
}

.card a {
  color: var(--nav-text);
}

.card a:hover {
  color: var(--header-h1);
}

.card h3::before {
  content: "";
  position: relative;
  top: -20px;
  background-color: var(--border-color);
  border: 1px solid var(--border-color);
  margin: 10px;
  padding: 5px;
}

/*********** ABOUT ***********/
#about {
  margin-top: 7.7rem;
  background-color: var(--header-back);
  color: var(--text);
}

#about h1 {
  color: var(--header-h1);
  padding: 2rem;
}

#about h3 {
  color: var(--nav-brand);
  text-decoration: underline;
  padding: 1rem;
}

#about img {
  width: 100%;
  border-radius: 50%;
}

#grade {
  padding-left: 5rem;
}

/*********** MEDIAS ***********/
@media (max-width: 430px) {
  a.navbar-brand {
    font-size: 1.5rem;
  }

  header {
    margin-top: 4rem;
  }

  header img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  header img {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  header img {
    width: 60%;
  }
}
